## Overview

In this article we will be getting our hands dirty with **`PySpark using Python`** and understand how to get started with **data preprocessing using PySpark** this particular article's whole attention is to get to know how PySpark can help in **data cleaning** process for **data engineers** and even for **data analyst** along with some basic operation of PySpark (which is the Spark distribution for Python) we will also discuss some functional thing about **`Apache Spark`**

## Table of content

1. What is Apache spark?
2. Benefits of using Apache Spark
3. Installing and importing PySpark library
4. Looking at the dataset
5. Reading data using PySpark
6. Difference between PySparks's type and Pandas's type
7. PySpark's head() function
8. PySpark's printScehma() function
9. Conclusion

## What is Apache Spark?

Apache Spark is a sort of engine which helps in operating and executing the **data analysis, data engineering** and **machine learning** tasks both in cloud as well as on a local machine and for that it can either use single machine or the **clusters** i.e **distributed system**.


## Benefits of using Apache Spark

We already have some relevant tools available in the market which can perform the data engineering tasks so in this section we will be discuss that why we should choose Apache Spark over its other alternatives.

1. **Streaming data**: When we say streaming the data it is in the form of **`batch streaming`** and in this key feature Apache Spark will be able to stream our data in **real-time** by using our preferred programming language.


2. **Increasing Data science scalability**: Apache Spark is one of the widely used engine for scalable computing and to perform Data science task which requires high computational power than Apache Spark should be a first choice.


3. **Handling Big Data projects**: As previously mentioned that it have high comptational power so for that reason it can handle Big data projects in **cloud computing** as well using the **distributed systems/clusters** when working with cloud not in local machine.

## Installing Pyspark library using "pip"

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 57.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=a968fd21d73a443b9a92d2bf66e7d3501bfbd5c25a5fb0b1f6bb730e50fb2b06
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

### After successfuly installing PySpark:

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

## Importing PySpark library

In [3]:
import pyspark

## Importing dataset on which we will be working

In [4]:
import pandas as pd
data = pd.read_csv('sample_data/california_housing_test.csv')

In [5]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

Now as we have imported the dataset and also have a look of it so now let's start working with PySpark. But before getting real work with PySpark we have to start the Spark's Session and for that we need to follow some steps which are mentioned below.

1. Importing the Spark Session from the Pyspark's SQL object
2. After importing the Spark session we will build the Spark Session using the builder function of SparkSession object.

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark_session = SparkSession.builder.appName('PySpark_article').getOrCreate()

Now as we can see that with the help of **`builder`** function we have first called the **`appName`** class to name our session (here I have given *"PySpark_article"* as the session name) and at the last for creating the session we have called **`getOrCreate()`** function and store it in the variable named as **spark_session**.

In [8]:
spark_session

Now when we see that what our spark session will hold it will return the above output which have the following components:

1. About the spark session : In memory
2. Spark context:
  - **Version:** It will return the current version of the spark which we are using - v3.2.1
  - **Master:** Interesting thing to notice here is when we will be working in the cloud then we might have different **`clusters`** as well like first there will be master and then a tree like structure (cluster_1, cluster_2... cluster_n) but here as we are working on **local **system and not the **distributed** one so it is returning **`local`**.
  - **AppName:** And finally the name of the app (spark session) which we gave while declaring it.

## Reading the data using spark

In [10]:
df_spark = spark_session.read.csv('sample_data/california_housing_train.csv')

In the above code we can see that spark uses spark session variable to call the **`read.csv()`** function to read the data when it is in CSV format now if you remember when we need to read the csv file in padas we used to call **`read_csv()`**. 

According to me when we are learning something new which has stuffs related to previous learning then it is good to compare both the stuff so in this article we will also compare the **pandas data processing** with **spark's data processing**.

In [12]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string]

Now if we look at the output so it shows that it has returned the **DataFrame** in which we can see the dictionary like setup where (c0, c1, c2.....cn) are the number of columns and corresponding to each column index we can see the type of that column i.e. **String**.

In [13]:
df_spark.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|        _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|-114.600000|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|-114.610000|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|-114.610000|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|-114.630000|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|-114.650000|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|-114.650000|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|-114.650000|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|-114.660000|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

From the above output we can compare the PySpark's **`show()`** function with the pandas's **`head()`** function. 

* In head() function we can see the **top 5 records** (unless we don't specify it in the arguments) wheras in show() function it returns top 20 records which is mentioned too at the last.

* Another difference that we can notice is the **appearance of the tabular data** that we can see using both the function one can compare it as in the start of the article I've used head() function.

* One more major difference that one can point out which is also a drawback of PySpark's **show()** function i.e. when we are looking at the column names it is showing (c0, c1, c2.....cn) and the exact column names are shown as the **first tuple** of records but we can fix this issue as well.


So let's fix it!

In [23]:
df_spark_col  = spark_session.read.option('header', 'true').csv('sample_data/california_housing_train.csv')
df_spark_col

DataFrame[longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]

Okay! so now just after looking at the output we can say that we have fixed that problem (we will still confirm that later) as in the output instead of (c0,c1,c2....cn) in the place of column name now we can see the actual name of the columns.

Let's confirm it by looking at the complete data with records.

In [24]:
df_spark = spark_session.read.option('header', 'true').csv('sample_data/california_housing_train.csv').show()
df_spark

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|-114.600000|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|-114.610000|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|-114.610000|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|-114.630000|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|-114.650000|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|-114.650000|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|-114.650000|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|-114.660000|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
|-114.670000|33.920000|         17.000000|  97.000000|     24.000000|  29.000000|  15.000000|     1.265600|      27500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

Yes! Now we can see that in the place of the columns we can now see the actual name of the column instead that indexing formatting.

### Difference between PySparks's type and Pandas's type

In [25]:
type(df_spark_col)

pyspark.sql.dataframe.DataFrame

Here you can see that PySpark's dataframe belongs to pyspark's main class

In [22]:
type(data)

pandas.core.frame.DataFrame

And you guessed that right, similarly, Pandas's dataframe is of pandas type

**Note:** One interesting fact about PySpark's data frame is that it can work on both head and show function while pandas don't work on show function instead only for head funtion.

### PySpark's head() function

In [27]:
df_spark_col.head(10)

[Row(longitude='-114.310000', latitude='34.190000', housing_median_age='15.000000', total_rooms='5612.000000', total_bedrooms='1283.000000', population='1015.000000', households='472.000000', median_income='1.493600', median_house_value='66900.000000'),
 Row(longitude='-114.470000', latitude='34.400000', housing_median_age='19.000000', total_rooms='7650.000000', total_bedrooms='1901.000000', population='1129.000000', households='463.000000', median_income='1.820000', median_house_value='80100.000000'),
 Row(longitude='-114.560000', latitude='33.690000', housing_median_age='17.000000', total_rooms='720.000000', total_bedrooms='174.000000', population='333.000000', households='117.000000', median_income='1.650900', median_house_value='85700.000000'),
 Row(longitude='-114.570000', latitude='33.640000', housing_median_age='14.000000', total_rooms='1501.000000', total_bedrooms='337.000000', population='515.000000', households='226.000000', median_income='3.191700', median_house_value='73400.000000'),
 Row(longitude='-114.570000', latitude='33.570000', housing_median_age='20.000000', total_rooms='1454.000000', total_bedrooms='326.000000', population='624.000000', households='262.000000', median_income='1.925000', median_house_value='65500.000000'),
 Row(longitude='-114.580000', latitude='33.630000', housing_median_age='29.000000', total_rooms='1387.000000', total_bedrooms='236.000000', population='671.000000', households='239.000000', median_income='3.343800', median_house_value='74000.000000'),
 Row(longitude='-114.580000', latitude='33.610000', housing_median_age='25.000000', total_rooms='2907.000000', total_bedrooms='680.000000', population='1841.000000', households='633.000000', median_income='2.676800', median_house_value='82400.000000'),
 Row(longitude='-114.590000', latitude='34.830000', housing_median_age='41.000000', total_rooms='812.000000', total_bedrooms='168.000000', population='375.000000', households='158.000000', median_income='1.708300', median_house_value='48500.000000'),
 Row(longitude='-114.590000', latitude='33.610000', housing_median_age='34.000000', total_rooms='4789.000000', total_bedrooms='1175.000000', population='3134.000000', households='1056.000000', median_income='2.178200', median_house_value='58400.000000'),
 Row(longitude='-114.600000', latitude='34.830000', housing_median_age='46.000000', total_rooms='1497.000000', total_bedrooms='309.000000', population='787.000000', households='271.000000', median_income='2.190800', median_house_value='48100.000000')]

As we can see that we get the output but it is not in the Tabular format which we can see in the pandas's head function instead it return the output in the classical CSV format that's why though it can work for both show and head function still we should use the show function for better readibility of the output

Do Pyspark has the alternative to Pandas's info function ?
Answer is Yes! 
Let' have a look at **`printSchema()`** function of PySpark

### PySpark's printScehma() function

In [28]:
df_spark_col.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

If we are able to distinguish well then we can easily figure out from the above output that it is returning the **name of the column**, **type of the data** each column is holding and are there any **null values** in each column (nullable = True - Yes it have null values) just like our old friend - **info()**.

## Conclusion

Finally we have come to the last section of this article where we will sum up all the things that we have covered so far in a short description.

1. In the very first segment we learned about the Apache Spark and its benefits over other alternatives.
2. Then we saw how to install the PySpark library which is the Python distribution of Apache Spark.
3. Then down to 3rd segment of the article we got our hands dirty when we implement those basic functions and operations by which we get started to do data preprocessing using PySpark library